/* Copyright 2011 CleverTrail.com.  All Rights Reserved. */

#divHomepageSearchMap {
	top: 530px;
	left: 160px;
}

#divCategorySearchMap {
	top: 442px;
	left: 20px;
}

#divUserSearchMap {	
	top: 445px;
	left: 20px;	
}

.clsSearchTrailMap {
	position: absolute;
	display: none;
}

#txtSearchMap {
	color: #777;
	margin: 0px;
	height: 24px;
	line-height: 24px;
	width: 220px;
	margin-top: 1px;	  
	padding: 0 10px 0 10px;	
	font-family: trebuchet ms, arial, century gothic;	  
	text-align: left;	
	border: 1px solid #333; 
	border-right: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#btnSearchMap {
	margin: 0px;
	margin-top: 1px;
	padding: 0 2px 3px 0;
	background: #642200;
	color: #fff;
	height: 26px;
	width: 27px;
	font-family: trebuchet ms, arial;
	border: 1px solid #333;
	border-left: 0px;
	cursor: pointer;
	background: url(http://clevertrail.com/images/icons/icon-search-brown-25.png) no-repeat #642200 center;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#divFilterHomepageTrailMap {
	top: 293px;
	right: 10px;
}

#divFilterCategoryTrailMap {
	top: 160px;
	right: 15px;
}

#divFilterUserTrailMap {
	top: 160px;
	right: 15px;
}

.clsFilterTrailMap {
	position: absolute;
	padding: 2px;
	background: #555;
	border: 1px solid #333;
	border-radius: 3px;
	display: none;
	font-family: trebuchet ms, arial;
	color: #ffffff;
	font-size:95%;
}

#divHomepageTrailMap {
	margin-top: 50px;
	margin-left: 145px;
	height: 500px;
}

#divCategoryTrailMap {
	margin-top: -20px;
	margin-left: 0px;
}

#divUserTrailMap {
	margin-top: -20px;
	margin-left: 0px;	
}

.clsTrailMap {
	height: 400px;
	width: auto;
	border: 2px solid #222;
	display:none;
}


#divHomepageTrailMapLoading {
	margin-top: 50px;
	margin-left: 145px;
	height: 500px;
}

#divCategoryTrailMapLoading {
	margin-top: -20px;
	margin-left: 0px;
}

#divUserTrailMapLoading {
	margin-top: -20px;
	margin-left: 0px;
}

.clsTrailMapLoading {
	height: 400px;
	width: auto;
	color: #333;
	background: #ccc;
	border: 2px solid #222;
	display: block;
	z-index: 100;
	cursor: wait;
}


/* puts a border around the trail use icons */
.clsTrailUseImage {
	border: #ddd 1px solid;
	border-radius: 3px;
}

/* trail map filters */
.clsFilterTrailMapExpand{
	text-align: right;
	position: absolute;
	background: #642200;
	color: #fff;
	cursor: pointer;
	font-family: trebuchet ms, arial;
	font-size:95%;
	border: 1px solid #000;
	border-radius: 3px;
	padding-left: 5px;
	display: none;
	height: 30px;
	line-height:30px;
}

#divFilterHomepageTrailMapExpand{
	top: 525px;
	right: 10px;	
}

#divFilterCategoryTrailMapExpand{
	top: 442px;
	right: 15px;	
}

#divFilterUserTrailMapExpand{
	top: 442px;
	right: 15px;	
}

/* clear filter input button */
#divFilterClearInput{
	text-align: center;
	background: #642200;
	color: #fff;
	cursor: pointer;
	font-family: trebuchet ms, arial;
	font-size:95%;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 2px;
	width: 60px;
	height: 25px;
	line-height: 25px;
}